<div class="container-places">
  <mat-form-field>
    <mat-label>Ponto de partida</mat-label>
    <mat-select
      [(ngModel)]="mapsService.origin"
      (selectionChange)="onOriginChange($event.value)"
    >
      <mat-option [value]="''">-- selecione --</mat-option>

      <!-- opção para usar a localização atual -->
      <mat-option value="current-location"
        ><strong class="minha-localizacao"
          ><mat-icon>emoji_people</mat-icon> Minha localização atual</strong
        ></mat-option
      >

      <mat-optgroup *ngFor="let group of londonPlaces" [label]="group.category">
        <mat-option *ngFor="let place of group.places" [value]="place.address">
          {{ place.title }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
    <mat-hint align="end">origem partida</mat-hint>
  </mat-form-field>

  <br /><br />
  <mat-form-field>
    <mat-label>Destino</mat-label>
    <mat-select [(ngModel)]="mapsService.destination">
      <mat-option [value]="''">-- selecione --</mat-option>
      <mat-optgroup *ngFor="let group of londonPlaces" [label]="group.category">
        <mat-option *ngFor="let place of group.places" [value]="place.address">
          {{ place.title }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
    <mat-hint align="end">destino final</mat-hint>
  </mat-form-field>
  <br />
  <div class="button-container">
    <a
      class="button"
      extended
      *ngIf="mapsService.origin && mapsService.destination"
      [href]="mapsService.getGoogleMapsRoute()"
      target="_blank"
      rel="noopener noreferrer"
      matTooltip="Abrir rota no Google Maps"
      aria-label="Ver rota no Google Maps"
    >
      <img src="/assets/images/maps-logo.png" alt="" />
      <strong>Ver no Maps</strong>
    </a>
  </div>
</div>
