.timeline ul {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.activities-titles li {
  margin-bottom: 1rem;
}

.activity-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-info {
  display: flex;
  flex-direction: column;
}

.activities-places li {
  display: flex;
  justify-content: space-between;
  margin-left: 1.5rem;
}

.btn-go {
  background-color: transparent;
  border: none;
  color: #ab103c;
  cursor: pointer;
}
