<div class="container-places">
  <mat-form-field>
    <mat-label>Ponto de partida</mat-label>
    <mat-select
      [(ngModel)]="mapsService.origin"
      (selectionChange)="onOriginChange($event.value)"
    >
      <mat-option [value]="''">-- selecione --</mat-option>

      <!-- opção para usar a localização atual -->
      <mat-option value="current-location"
        ><strong class="minha-localizacao">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#ab103c"
          >
            <path
              d="M360-80v-529q-91-24-145.5-100.5T160-880h80q0 83 53.5 141.5T430-680h100q30 0 56 11t47 32l181 181-56 56-158-158v478h-80v-240h-80v240h-80Zm120-640q-33 0-56.5-23.5T400-800q0-33 23.5-56.5T480-880q33 0 56.5 23.5T560-800q0 33-23.5 56.5T480-720Z"
            />
          </svg>
          Minha localização atual</strong
        ></mat-option
      >

      <mat-optgroup *ngFor="let group of francePlaces" [label]="group.category">
        <mat-option *ngFor="let place of group.places" [value]="place.address">
          {{ place.title }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
    <mat-hint align="end">origem partida</mat-hint>
  </mat-form-field>

  <br /><br />
  <mat-form-field>
    <mat-label>Destino</mat-label>
    <mat-select [(ngModel)]="mapsService.destination">
      <mat-option [value]="''">-- selecione --</mat-option>
      <mat-optgroup *ngFor="let group of francePlaces" [label]="group.category">
        <mat-option *ngFor="let place of group.places" [value]="place.address">
          {{ place.title }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
    <mat-hint align="end">destino final</mat-hint>
  </mat-form-field>
  <br />
  <div class="button-container">
    <a
      class="button"
      extended
      *ngIf="mapsService.origin && mapsService.destination"
      [href]="mapsService.getGoogleMapsRoute()"
      target="_blank"
      rel="noopener noreferrer"
      matTooltip="Abrir rota no Google Maps"
      aria-label="Ver rota no Google Maps"
    >
      <img src="/assets/images/maps-logo.png" alt="" />
      <strong>Ver no Maps</strong>
    </a>
  </div>
</div>
