<div class="container-places">
  <mat-form-field>
    <mat-label>Ponto de partida</mat-label>
    <mat-select
      [(ngModel)]="mapsService.origin"
      (selectionChange)="onOriginChange($event.value)"
    >
      <mat-option [value]="''">-- selecione --</mat-option>

      <!-- opção para usar a localização atual -->
      <mat-option value="current-location"
        ><strong class="minha-localizacao"
          >Minha localização atual</strong
        ></mat-option
      >

      <mat-optgroup *ngFor="let group of francePlaces" [label]="group.category">
        <mat-option *ngFor="let place of group.places" [value]="place.address">
          {{ place.title }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
    <mat-hint align="end">origem partida</mat-hint>
  </mat-form-field>

  <br /><br />
  <mat-form-field>
    <mat-label>Destino</mat-label>
    <mat-select [(ngModel)]="mapsService.destination">
      <mat-option [value]="''">-- selecione --</mat-option>
      <mat-optgroup *ngFor="let group of francePlaces" [label]="group.category">
        <mat-option *ngFor="let place of group.places" [value]="place.address">
          {{ place.title }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
    <mat-hint align="end">destino final</mat-hint>
  </mat-form-field>

  <div class="button-container">
    <a
      mat-fab
      extended
      *ngIf="mapsService.origin && mapsService.destination"
      [href]="mapsService.getGoogleMapsRoute()"
      target="_blank"
      rel="noopener noreferrer"
    >
      <mat-icon>location_on</mat-icon>
      Ver rota no Google Maps
    </a>
  </div>
</div>
